html {
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 960px;
    background-color: #f5f5f5;
    margin: 0 auto;
}

.profile {
    max-width: 350px;
    background-color: #39383a;
    color: #ababab;
}

.profile-info {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.profile-photo {
    width: 100%;
    height: 235px;
    background: url(https://sun9-11.userapi.com/c858224/v858224929/96ddb/RMGownTbi1w.jpg) no-repeat center / cover;
}

.header {
    margin: 0;
}

.header-light {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.63px;
    border-bottom: 2px dashed #5a5a5a;
    padding-bottom: 20px;
}

.profile-text {
    color: #ababab;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 24.19px;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.contacts {
    margin-bottom: 70px;
}

.contacts-item {
    border-bottom: 2px dashed #5a5a5a;
    padding-bottom: 20px;
}

i {
    padding-right: 10px;
}

.contacts__title {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.63px;
    margin-bottom: 10px;
}

.contacts__link {
    color: #ababab;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 0.5px;
    text-decoration: none;
    padding-left: 25px;
}

.resume {
    padding: 25px 35px;
}

.resume-wrap {
    border: 1px solid rgba(168, 168, 168, 0.44);
    width: 536px;
}

.about {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.name {
    color: #39383a;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 14px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.position {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 9px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1.72px;
}

.experience {
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.header-dark {
    color: #39383a;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.04px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    padding-left: 30px;
}

.list {
    list-style: none;
    padding-left: 30px;
}

.list-item {
    position: relative;
    padding-left: 40px;
}

.list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #000;
}

.list-item__title {
    color: #39383a;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.73px;
    margin-top: 30px;
    margin-bottom: 5px;
}

.list-item__date {
    color: #39383a;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 0.68px;
}

.list-item__desc {
    color: #777777;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.38px;
}

.education {
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.skills {
    padding-bottom: 20px;
}

.skills-list {
    list-style: none;
    padding-right: 40px;
}

.skills-list__item {
    color: #39383a;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.73px;
    display: flex;
    justify-content: space-between;
}

.level {
    width: 70%;
    height: 8px;
    border: 1px solid #39383a;
    position: relative;
}

.level::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 50%;
    background-color: #898989;
}

.level-85::before {
    width: 85%;
}

.level-75::before {
    width: 75%;
}

.level-90::before {
    width: 90%;
}

@media (max-width: 1024px) {
    .profile {
        max-width: 100%;
    }

    .resume {
        padding: 10px 20px;
    }

    .resume-wrap {
        max-width: 100%;
        margin: 0 auto;
    }

    .profile-info {
        padding-bottom: 20px;
    }

    .profile-text {
        margin-bottom: 20px;
    }

    .list-item {
        padding-right: 10px;
        padding-left: 20px;

    }
}

@media (max-width: 576px) {

    .profile-info {
        padding-top: 35px;
        padding-bottom: 0;
    }

    .name {
        margin-top: 20px;
        font-size: 14px;
    }

    .about {
        padding: 0;
        margin-bottom: 30px;
    }

    .list {
        padding-left: 15px;
    }

    .resume-wrap {
        width: 536px;
    }

    .experience {
        padding: 0;
        margin-bottom: 35px;
    }

    .education {
        padding: 0;
        margin-bottom: 35px;
    }

    .skills {
        padding: 0;
    }
}

@media (max-width: 992px) {
    .container {
        flex-direction: column;
    }
}


/* font-family: 'Open Sans', sans-serif; */